---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "/categories/{{ category | slug }}/index.html"
---


<section>
  <h2>Categor&iacute;a: {{ category }}</h2>
  
  {% assign posts = collections.post | filterByCategory: category %}
  {% for post in posts reversed %}
  <article>
    <p>
      <a href="{{post.url}}">{{ post.data.title }}</a> - {{ post.date }}
      {% excerpt post %}
    </p>
  </article>
  {% endfor %}
</section>